{% extends "base.html" %}

{% block content %}

    <div class="card">
        <div class="card-body"><h5>{{ header }}</h5></div>
    </div>
    <br>

    <div class="card shad_box">
        <div class="list-group list-group-flush">
            {% for system in systems %}
                <label class="list-group-item list-group-item-action">
                    <div class="row">
                        <div class="col-10">
                            <input class="form-check-input me-1" type="checkbox" id="chk{{ system.id }}"
                                   value="{{ system.system_duet }}" disabled>&nbsp;&nbsp;{{ system.system_name }}
                        </div>
                        <div class="col-2">
                            <span class="badge bg-warning text-dark popover-content" id="spState{{ system.id }}"  style="width: 100px;"
                                  data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover"
                                  title="{{ system.system_name }}" data-bs-content="Ебеньк">Проверка ...
                            </span>
                        </div>
                    </div>
                </label>
            {% endfor %}
        </div>
    </div>
    <br><br>
    <div class="card"><button type="button" class="btn btn-primary" id="btn_sel" disabled>Открыть</button></div>

    <div id="pop_detail" style="display: none;">
        <i class="bi bi-forward-fill" id="iDir" hidden></i>&nbsp;
        <i class="bi bi-cloud-drizzle-fill" id="iWat" style="display: none"></i>&nbsp;
        <i class="bi bi-stoplights-fill" id="iSis" style="display: none"></i>
        <hr>
        <strong>100%</strong>&nbsp;<strong>4,9mm</strong>&nbsp;<strong>12h</strong>
    </div>

{% endblock content %}