{% extends "base.html" %}

{% block content %}

    <div class="row">
        {% for state in states %}
            {% if state != None %}
                <div class="col-6 mx-auto">
                    <div class="card shad_box">
                        <div class="card-header" style="background: #e6e6e6;">
                            {{ state.states_system }}
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">LLL</div>
                                <div class="col-7">
                                    <div class="row border-bottom">
                                        <div class="col-6">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" id="inp-perc{{ state.states_system_id }}"
                                                       value="{{ state.status_perc }}%" aria-label="Скорость">
                                                <button class="btn btn-primary bi-keyboard" type="button"
                                                        id="btn-perc{{ state.states_system_id }}">
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" id="inp-depth{{ state.states_system_id }}"
                                                       value="{{ state.status_depth }}mm" aria-label="Пролив">
                                                <button class="btn btn-primary bi-keyboard" type="button"
                                                        id="btn-depth{{ state.states_system_id }}"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6" style="margin-top: 12px;">
                                            <button type="button" class="btn btn-lg btn-outline-success"
                                                    id="btn{{ state.states_system_id }}-Start" style="width: 100%; height: 60px;">Старт
                                            </button>
                                        </div>
                                        <div class="col-6" style="margin-top: 12px;">
                                            <button type="button" class="btn btn-lg btn-outline-danger"
                                                    id="btn{{ state.states_system_id }}-Stop" style="width: 100%; height: 60px;">Стоп
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6" style="margin-top: 20px;">
                                            <button type="button" class="btn btn-lg btn-outline-secondary"
                                                    id="btn{{ state.states_system_id }}-Forward" style="width: 100%">Вперёд
                                            </button>
                                        </div>
                                        <div class="col-6" style="margin-top: 20px;">
                                            <button type="button" class="btn btn-lg btn-outline-secondary"
                                                    id="btn{{ state.states_system_id }}-Revers" style="width: 100%">Назад
                                            </button>
                                        </div>
                                    </div>
                                   <div class="row">
                                        <div class="col-6" style="margin-top: 12px;">
                                            <button type="button" class="btn btn-lg btn-outline-secondary"
                                                    id="btn{{ state.states_system_id }}-Forward" style="width: 100%">Вода Вкл
                                            </button>
                                        </div>
                                        <div class="col-6" style="margin-top: 12px;">
                                            <button type="button" class="btn btn-lg btn-outline-secondary"
                                                    id="btn{{ state.states_system_id }}-Revers" style="width: 100%">Вода Выкл
                                            </button>
                                        </div>
                                    </div>
                                   <div class="row">
                                        <div class="col-6" style="margin-top: 12px;">
                                            <button type="button" class="btn btn-lg btn-outline-secondary"
                                                    id="btn{{ state.states_system_id }}-Forward" style="width: 100%">Стоп Вкл
                                            </button>
                                        </div>
                                        <div class="col-6" style="margin-top: 12px;">
                                            <button type="button" class="btn btn-lg btn-outline-secondary"
                                                    id="btn{{ state.states_system_id }}-Revers" style="width: 100%">Стоп Выкл
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div id="inpKb1" style="display: none;">
        123<br>
        456<br>
        789<br>
    </div>

{% endblock content %}